.pwidget-right>span {
    float:right;
}

.pwidget {
    padding: 0;
    margin: 0.2em;
    border: 1px #444 solid;
    background-color: #666;
    display: inline-block;
}

.pwidget.dark {
    background-color: #666;
    color: #6e7e8c;
}

.pwidget.light {
    background-color: #EEE;
    color: #000;
}

.pwidget-left>span {
    float:left;
}

.pwidget-canvas {
    background-color: #fff;
    margin-bottom: 0;
}

.pwidget-stroke-thickness, .pwidget-text-size {
    width: 3em;
}

.pwidget-tool {
    display: inline-block;
    min-width: 3em;
    text-align: center;
    vertical-align: middle;
    padding: 0.5em;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pwidget-tool.dark {
    color: #ccc;
}

.pwidget-tool.light {
    color: #666;
}

.pwidget-toolbox, .pwidget-canvasbox {
    padding: 0;
    margin: 0;
}

.pwidget-toolbox.dark, .pwidget-canvasbox.dark {
    background-color: inherit;
}

.pwidget-toolbox.light, .pwidget-canvasbox.light {
    background-color: inherit;
}

.pwidget-formatbox, .pwidget-loadbox, .pwidget-savebox {
    height: 2em;
}

.pwidget-formatbox.dark, .pwidget-loadbox.dark, .pwidget-savebox.dark {
    background-color: #444;
}

.pwidget-formatbox.light, .pwidget-loadbox.light, .pwidget-savebox.light {
    background-color: #ccc;
}

.pwidget-formatbox > input, .pwidget-formatbox > select, .pwidget-loadbox > input, .pwidget-savebox > input {
    margin: 0;
    border: 0;
    padding: 0.2em;
    height: 100%;
}

.pwidget-text-font {
    width: 6em;
    height: 2em;
    margin: 0;
    padding: 0.2em;

}
.pwidget-formatbox > div, .pwidget-loadbox > div, .pwidget-savebox > div {
    margin: 0;
    height: 2em;
    border: 0;
    background-color: inherit;
}
.pwidget-button {
    display: inline-block;
    padding: 0.5em;
    text-align: center;
    vertical-align: middle;
    min-width: 3em;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pwidget-button.dark {
    color: #ccc;
}

.pwidget-button.dark:hover {
    background-color: #AAA;
    color: #fff;
}

.pwidget-button.dark:active {
    background-color: #DB8E1D;
    color: #fff;
}

.pwidget-button.light {
    color: #666;
}

.pwidget-button.light:hover {
    background-color: #FFF;
}

.pwidget-button.light:active {
    background-color: #0066FF;
    color: #fff;
}

.pwidget-tool-inactive:hover {
    cursor: pointer;
}

.pwidget-tool-inactive.dark:hover {
    background-color: #AAA;
    color: #fff;
}

.pwidget-tool-active.dark {
    background-color: #DB8E1D;
    color: #fff;
}

.pwidget-tool-inactive.light:hover {
    background-color: #FFF;
}

.pwidget-tool-active.light {
    background-color: #0066FF;
    color: #fff;
}

.pwidget-tool>img {
    width:100%;
    height:100%;
}