html {
    height: 100%;
}

body {
    background-color: #27292b;
    color: #6e7e8c;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.container-fluid {
    background-color: #27292b;
    padding: 5%;
    margin: 0;
    min-height: 100%;
    max-width: 80em;
}

@media (min-width: 992px) {
    body {
        background-color: #000000;
        background: -webkit-linear-gradient(#202123, #18191a); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(#202123, #18191a); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(#202123, #18191a); /* For Firefox 3.6 to 15 */
        background: linear-gradient(#202123, #18191a); /* Standard syntax */
        background-attachment: fixed;
    }
    .container-fluid {
        padding: 2em 4em;
        margin: 0 10%;
    }
}

code {
	white-space: pre-wrap;
	color: #DB8E1D;
	background-color: #111;
	border: 1px solid #DB8E1D;
	vertical-align: middle;
	padding: 1em;
	margin: 0.5em;
	width: 90%;
	overflow-x: auto;
	display: inline-block;
}

.divider {
    width: 80%;
    border-top: 1px solid #232527;
    border-bottom: 1px solid #2c2c32;
    display: block;
    margin: 1em auto
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Raleway', sans-serif;
}

h1>a {
    color: #DB8E1D;
}
h1>a:hover {
    text-decoration: none;
}

h1 {
    color: #DB8E1D;
    font-size: 3em;
}

h3{
    padding-left: 0.2em;
    color: #B4C2D0;
}

h5 {
   color: #B4C2D0;
   font-size: 1.2em;
   padding-left: 0.8em;
   margin-bottom: 0.1em;
}

h6{
   padding-left: 0.4em;
   font-size: 1em;
}

h4 {
    color: #DB8E1D;
    font-size: 1.5em;
    padding-left: 0.4em;
}

p {
    padding-left: 1.8em;
    font-size: 0.9em;
    text-align: justify
}
